/***** BASE STYLES *****/

.body {
    font-family: 'Noto Serif JP', serif;
  }
  
  /***** GRID SECTION *****/
  
  h1 {
    color:black;
    text-transform: none;
    font-weight: 400px;
    font-size: 30px;
  }
  
  p {
    font-size: 24px;
    line-height: 21px;
    padding: 0 10px;
  }
  
  /***** HEADER SECTION *****/
  
  header {
    height: 110px;
  }
  header h1 {
    margin: 0;
    padding: 30px 0;
    float: left;
  }
  header h1 span {
    color: #FF4500;
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
  }
  
  /***** TOP SECTION *****/
  
  .top-section,
  .bottom-section {
    margin: 0 auto;
    padding-left: 30px;
  }
  
  .main-image {
    float: left;
    padding-top: 80px;
  }
  .main-image img {
    border: 4px solid #FF4500;
    width: 1200px;
    height: 600px;
  }
  
  .top-section a {
    font-size: 20px;
    color: #696969;
    border: 3px solid #FF4500;
    text-decoration: none;
    padding: 10px 30px;
  }
  
  /***** BOTTOM SECTION *****/
  
  .main-body p {
    font-size: 24px;
    line-height: 21px;
    padding-left: 0px;
    color: #696969;
    text-align: justify;
    float: left;
  }

  .intro span {
    color: #FF4500;
    font-weight: bold;
  }
  .outro span {
    color: #FF4500;
    font-weight: bold;
  }
  
  /***** FOOTER SECTION *****/
  
  footer p {
    height: 50px;
    margin: 0 auto;
    color: #696969;
    clear: both;
    text-align: center;
    font-size: 20px;
  }
  